.mat-drawer {
  background-color: mat-color($primary-accent, color);

  a {
    color: mat-color($primary);
  }
}

mat-sidenav,
mat-sidenav-container,
mat-sidenav-content {
  background-color: mat-color($primary, color);
  height: 100vh;
  overflow-x: hidden !important;
}

mat-sidenav {
  max-width: 12.5rem;
  width: 100%;

  @media only screen and (max-width: 600px) {
    max-width: 6.25rem;
  }
}
