.mat-drawer {
  background-color: mat-color($primary-accent, color);

  a {
    color: mat-color($primary);
  }
}

mat-sidenav,
mat-sidenav-container,
mat-sidenav-content {
  background-color: mat-color($primary, color);
  height: 100vh;
  overflow-x: hidden !important;
}

mat-sidenav {
  max-width: 360px;
  width: 100%;
}
