@import "../../scss/variables";

.sidenav-header {
  border-bottom: 1px solid map-get($primary, color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;

  .logo {
    margin: 1rem auto;
    max-width: 60%;

    img {
      width: 100%;
    }
  }
}

mat-nav-list {
  margin: 0 auto;
  max-width: 90%;

  a {
    color: map-get($primary, color);
    border-bottom: 1px solid map-get($primary, color);
    font-weight: 500;

    span {
      width: 100%;
    }
  }

  button {
    margin-top: 1.5rem;
  }
}

.mat-list-base {
  padding-top: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: .375rem;

  @include media-max-width(sm) {
    display: none;
  }
}
