@import "app/scss/material/small-backoffice-theme.scss";

html,
body {
  background: map-get($primary, color);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader {
  display: flex;
  justify-content: center;
}
